.new-game-menu {
  $side-padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100dvh;
  height: 100vh;
  max-width: calc(460px + ($side-padding * 2));
  min-width: calc(327px + ($side-padding * 2));
  padding: 0 $side-padding;
  margin: auto;
  box-sizing: border-box;

  .player-selector {
    background-color: $semi-dark-navy;
    border-radius: $border-radius-15;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: $silver;
    width: 100%;
    align-items: center;
  }

  .mark-selector {
    background-color: $dark-navy;
    display: flex;
    padding: 9px 8px;
    border-radius: $border-radius-10;
    width: 100%;

    .option {
      padding: 20px 0;
      border-radius: $border-radius-10;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (hover: hover) {
        cursor: pointer;
      }
    }
  }
  .oponent-buttons-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
